/* Add this CSS to your stylesheet */
.portfolio-items {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next row if the container is not wide enough */
    justify-content: space-between; /* Distributes items evenly with space between */
}

.portofolio-item {
    width: calc(33.33% - 20px); /* Adjust the width as needed, subtracting margin */
    margin-bottom: 20px; /* Add some margin to separate items vertically */
    /* Add any other styling for portfolio items */
}
