<!-- navbar start-->
<nav class="navbar navbar-light fixed-top bg-light shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand text-primary fw-bold fs-4" href="#">W.F</a>
        <div class="dropdown">
            <button class="btn btn-primary px-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-bars"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#home">Home</a></li>
                <li><a class="dropdown-item" href="#profile">Profile</a></li>
                <li><a class="dropdown-item" href="#services">Services</a></li>
                <li><a class="dropdown-item" href="#portofolio">Portofolio</a></li>
                <li><a class="dropdown-item" href="#testimonials">Testimonial</a></li>
                <li><a class="dropdown-item" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- navbar end-->

