
<!--portofolio section start-->
<section class="portofolio bg-white py-5" id="portofolio">
    <div class="container-lg py-4">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h2 class="fw-bold mb-5">My Works</h2>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6 col-lg-4">
                <div class="portofolio-item shadow-lg p-4">
                    <img src="img/portofolio1.PNG" class="img-fluid" alt="portofolio-item">
                    <h3 class="text-capitalize fs-5 my-2"> yansa catering</h3>
                    <p class="mb-4"><a href="https://yansacatering.herokuapp.com/" target="_blank">Visit Site</a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="portofolio-item shadow-lg p-4">
                    <img src="img/portofolio2.PNG" class="img-fluid" alt="portofolio-item">
                    <h3 class="text-capitalize fs-5 my-2"> yansa catering</h3>
                    <p class="mb-4"><a href="https://yansacatering.herokuapp.com/" target="_blank">Visit Site</a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="portofolio-item shadow-lg p-4">
                    <img src="img/portofolio2.PNG" class="img-fluid" alt="portofolio-item">
                    <h3 class="text-capitalize fs-5 my-2"> yansa catering</h3>
                    <p class="mb-4"><a href="https://yansacatering.herokuapp.com/" target="_blank">Visit Site</a></p>
                </div>
            </div>
        </div>
    </div>

</section>
<!--portofolio section end-->